*{
  font-size: 14px;
  padding: 0;
  margin: 0;
}
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 10px;
}
.slider_icon > div {
  width: 10%;
  text-align: center;
}